<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfsNDohTspvfLCXx0K1SraJX4v17-Tqns</string>
	<key>GCM_SENDER_ID</key>
	<string>991275482419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluespace.codehub.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>codehub-app</string>
	<key>STORAGE_BUCKET</key>
	<string>codehub-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991275482419:ios:036c9ba6d94b6172f5d246</string>
</dict>
</plist>